@import "/src/variables.less";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.no-items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;

  > h3 {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

main {
  padding: 10px;
  min-width: 400px;
  width: 95%;
  max-width: 800px;
  border: 4px solid @red;
  border-radius: 5px;
  padding: 20px;

  > div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    gap: 10px;

    > img {
      height: 100%;
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5px;

    > button {
      margin-top: 20px;
      cursor: pointer;
      user-select: none;
      text-align: center;
      padding: 15px;
      font-size: 18px;
      background-color: @red;
      border: 1px solid #000;
      border-radius: 5px;
      text-decoration: none;
      color: @white;
      font-weight: bold;
  
      &:hover {
        filter: brightness(95%);
      }
  
      &:active {
        filter: brightness(90%);
      }
    }
  }
}

.back-arrow {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  margin: 30px;
  transform: scale(280%);

  &:hover {
    filter: brightness(110%);
  }
}

table {
  all: unset;
  display: flex;
  flex-direction: column;
  border: 2px solid @red;
  margin-top: 15px;
  width: 100%;

  tr:not(:nth-of-type(1)) {
    border-top: 1px solid @red;
  }

  tr {
    display: flex;
    flex-direction: row;

    th:nth-of-type(2), td:nth-of-type(2) {
      border-left: 1px solid @red;
      border-right: 1px solid @red;
    }

    th, td {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33.33%;
      text-align: center;
      padding: 5px 0;
    }

    td[colspan="2"] {
      background-color: @red;
      color: #fff;
      flex-grow: 1;
    }

    .total-value {
      font-weight: bold;
      font-size: 1rem;
    }
  }

  th {
    font-size: 1.1rem;
  }

  td {
    text-align: center;
  }
}