<div class="container">
  <main>
    <header>
      <div class="logo-container">
        <img src="assets/logo.png">
        <h3>Our Burguer</h3>
      </div>
      <input class="search" type="text" placeholder="Busca">
      <div class="user"></div>
    </header>
    <div class="shop-window">
      <div class="food-item">
        <img src="https://burgerx.com.br/assets/img/galeria/burgers/x-bacon.jpg">
        <div class="bottom-container">
          <div class="food-information">
            <span>Hamburguer X</span>
            <span>R$ 5,98</span>
          </div>
          <button>Ver</button>
        </div>
      </div>
    </div>
  </main>
</div>
