<div class="container">
  <main>
    <header>
      <div class="logo-container">
        <img class="logo" src="assets/logo.png">
        <h3>Our Burguer</h3>
      </div>
      <div>
        <input #search class="search" type="text" placeholder="Busca">
      </div>
      <div class="header-icons">
        <img routerLink="/cart" class="cart" src="assets/cart.svg" />
        <img routerLink="/" class="profile-pic" src="assets/user-circle-outline.svg" />
      </div>
    </header>

    <div *ngIf="!detailsId" class="shop-window">
      <h2 *ngIf="foodItemsFiltered.length == 0">
        Não há resultados compatíveis com sua busca :/
      </h2>
      <app-food-item *ngFor="let item of foodItemsFiltered"
        [id]="item.id"
        [urlImage]="item.urlImage"
        [name]="item.name"
        [title]="item.description"
        [price]="item.price">
      </app-food-item>
    </div>

    <!-- Só mostra se houver um ID na URL (detalhes do produto) -->
    <div *ngIf="detailsId" class="details">
      <a routerLink="/shop-window" class="back">Voltar</a>
      <div class="container">
        <img class="food-image" src="{{ itemToShowDetails.urlImage }}">
        <div>
          <div class="details-container">
            <div>
              <h1 class="name">{{ itemToShowDetails.name }}</h1>
              <h2 class="kcal">{{ itemToShowDetails.kcal }} kcal</h2>
              <span class="price">R$ {{ itemToShowDetails.price }}</span>
            </div>
            <p class="description">{{ itemToShowDetails.description }}</p>
          </div>
          <button class="add-cart" (click)="addCart(itemToShowDetails)">
            Adicionar ao carrinho
          </button>
        </div>
      </div>
    </div>
  </main>
</div>
