.food-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 340px;
  height: 300px;
  margin: 10px;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;

  > img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 5px;
  }
}

.bottom-container {    
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 8px;
  height: 20%;

  > button {
    width: 80px;
  }

  .food-information {
    display: flex;
    flex-direction: column;
  
    .food-title {
      font-size: 1.1rem;
    }

    .food-price {
      font-size: 0.9rem;
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    text-align: center;
    padding: 10px 20px;
    font-size: 0.9rem;
    background-color: rgb(240, 240, 240);
    border: 1px solid #000;
    border-radius: 2px;
    text-decoration: none;
    color: #000;

    &:hover {
      filter: brightness(95%);
    }

    &:active {
      filter: brightness(90%);
    }
  }
}